<div id="newcustomer">
    <form class="col-12">
        <input type="text" id="company-name" class="form-control">
        <input type="email" id="email" class="form-control">
        <input type="tel" id="phone" class="form-control">
        <input type="tel" id="fax" class="form-control">
        <input type="text" id="other" class="form-control">
        <input type="text" id="address" class="form-control">
        <input type="text" id="address2" class="form-control">
        <input type="text" id="city" class="form-control">
        <input type="text" id="state" class="form-control">
        <input type="text" id="address" class="form-control">
        <input type="text" id="address" class="form-control">
        <select type="select" id="pmt-method" class="form-select">
            <option>Credit</option>
            <option>COD</option>
        </select>
        <input type="textarea" id="notes" class="form-control">
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>